body {
    margin: 0;
    background-color: #111111;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.fas {
    margin: 25px;
}

div {
    margin: 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0px;
}

.info {
    height: 100px;
}

.socials {
    border-radius: 50%; /* Add missing percentage symbol */
    object-fit: cover;
    width: 50px;
    height: 50px;
}

footer p {
    color: white; /* Change color to contrast with background */
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: relative;
    bottom: 0; /* Position footer at the bottom */
    width: 100%;
}

header {
    padding: 0px 2rem 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.483);
    margin-bottom: 0;
    
}

nav {
    margin-right: 5%;
}


p {
    color: rgb(22, 21, 21);
}
h1 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 500;
}
.p1 {
    color: black;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.instagramblock {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.infoblock {
    background-color: #49f1f4;
}

.wave {
    z-index: -1;
}

.text {
    border-radius: 25%;
    width: 25%;
    padding: 0px;  
    background-color: rgba(1, 1, 1, 0.726);
    margin: 5rem 15rem 5rem;
    font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text p, h1, button {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    font: 600;
    font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul li {
    display: inline;
    color: white;

}
nav ul li a {
    color: white;
    margin-right: 5rem;
    text-decoration: none;
    
}
.info{
    text-align: center;
    background-color: white;
    border-radius: 15%;
    width: 25%;
    height: 25rem;
    font: 600;
    font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.stack {
    width: 100%;
    display: grid;
}

/* Ensure grid items fill the entire grid */
.stack > * {
    grid-area: 1 / 1;
}

.slides {
    display: flex;
    overflow: hidden;
}

.slides img {
    image-rendering: optimizeQuality;
    width: 100%;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
}
