/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: none;
}
.close-sidebar {
    display: none;
}
header {
    background-color: rgba(82, 78, 78, 0.068);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0.1%;
    margin-left: 0rem;
    margin-right: 0rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.415);
}
footer {
    background-color: rgba(82, 78, 78, 0.068);
    color: white;
    display: flex;
    align-items: center;
    padding: 30px 20px;
}
.sidebar {
    display: none; /* Hide sidebar by default */
}
.slides {
    width: 100%; /* Set the width of the container to 100% */
    height: 50rem; /* Set a fixed height for the container (adjust as needed) */
    overflow: hidden; /* Hide any content that exceeds the container's dimensions */
    position: relative; /* Ensure proper positioning of child elements */
}
.slides img {
    width: 100%; /* Make the images fill the entire width of the container */
    height: 100%; /* Make the images fill the entire height of the container */
    object-fit: cover; /* Ensure the entire image is always visible, cropping if necessary */
}
#starfield {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 312%;
}
.textoh1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(230, 230, 212);
    text-shadow: 3px 1px 5px rgba(17, 16, 16, 0.855);
    font-size: 2.4em; /* Adjust as needed */
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.logo {
    flex: 1;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
}
.logo img {
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 100px;
    object-fit: cover;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
}
nav ul li {
    display: inline;
}
nav ul li a {
    border-radius: 10%;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    border: 2px solid #d6d8db;
    padding: 0.5rem;
    margin: 2px;
    border-radius: 10%;
}
.footer-text {
    flex: 1;
}
.social-icons a {
    margin-left: 15px;
}
.vector {
    animation: moveUpDown 1s infinite alternate;
    object-fit: contain;
    width: 40px;
    height: 40px;
    margin: 10px;
}
.social-icons img {
    width: 45px;
    height: 45px;
    margin-left: 1rem;
}
/* Desktop Navigation */
.desktop-nav {
    display: flex;
}
.sidebar-toggle {
    display: none;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20%);
    }
}
.infobuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.infobuttons button {
    background-color: rgba(255, 255, 255, 0);
    border: 3px outset white;
    border-radius: 5px;
    padding: 0.4rem;
    color: white;
}
.stack {
    border-bottom: 1px solid rgb(146, 138, 138);
}
@keyframes scale {
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}
.infox:hover,
.info2:hover {
    animation: scale both 1.5s;
}
.line {
    margin-left: 20%;
    margin-right: 20%;
    border-top: 2px solid #00000076;
}
.info2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    outline: 2px outset #47eeeb;
    line-height: 1rem;
    text-align: center;
    width: 20%;
    height: 70%;
    background-color: none;
    color: white;
    border-radius: 0px;
    justify-content: center;
    align-content: center;
}
.mapa {
    width: 100%;
}
.contactus {
    color: wheat;
    background-color: rgba(82, 78, 78, 0.068);
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.datos {
    font-size: 1rem;
    margin: 2rem;
    flex-direction: column;
}
.infoblock {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: none;
    padding-bottom: 100px;
}
.instagram-media {
    border-radius: 15px;
}
.infodiv {
    border-radius: 0px;
    padding-top: 1rem;
    background-color: none;
    margin-top: 60px;
    height: 30rem;
    display: flex;
    flex-direction: row;
    z-index: 5;
    justify-content: space-around;
    align-items: center;
}
.instagramblock {
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.infoblock {
    background-color: none;
}
@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
#animated {
    view-timeline: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-fill-mode: both;
    animation-range: entry 35% cover 50%;
    animation-iteration-count: 1;
}
/* Mobile Styles */
@media (max-width: 768px) {
   
    body {
        background-color: rgb(11, 11, 11);
    }
    .desktop-nav {
        display: none;
    }
    .sidebar-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
    }
    .sidebar {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        height: 100%;
        background-color: black;
        padding-top: 60px;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        visibility: hidden;
        align-items: center;
        z-index: 50;
    }
    .sidebar.open {
        transform: translateX(0);
        visibility: visible;
    }
    /* Close Sidebar Button */
    .close-sidebar {
        display: none;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .textoh1 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -25%);
        color: rgb(233, 229, 222);
        font-size: 2rem; /* Adjust as needed */
        text-shadow: 5px 5px 4px rgba(5, 5, 5, 0.87);
        text-align: center;
    }
    .wave {
        display: none;
    }
    .infodiv {
        margin: 1rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align items */
    }
    .info2 {
        width: 90%; /* Set to a high percentage to fit within the parent container */
        margin: 1rem;
    }
    .close-sidebar {
        display: block;
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }
    .contactus {
        flex-direction: column;
    }
    nav ul li {
        margin: 1rem 0; /* Add some margin between menu items */
    }
    .infodiv {
        height: auto; /* Allow the height to adjust automatically */
    }
}